:root {
    --bgcolor: rgba(255, 208, 187, 0.753);
    --fgcolor: rgba(25, 25, 25, 0);
    --left-top-font: 4vw;
    --left-bottom-font: 4vw;
    --right-top-font: 10vw;
    --right-bottom-font: 4vw;
    --sky: #9fbeee;
    --stroke-color: #252525;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--fgcolor);
}
.grid {
    display: grid;
    position: absolute;
    grid-template: repeat(2, 2fr) 0.3fr 0.7fr / 1fr 2fr 1fr;
    width: 100%;
    height: 100%;
    .tile {
        background-color: var(--bgcolor);
        padding: 1vw;
    }
    .leftTop {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        grid-area: span 1 / span 1;
        font-size: 34px;
        font-size: var(--left-top-font);
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: span 2 / span 1;
        img {
            width: 110%;
            height: 100%;
        }
    }
    .leftBottom {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: left;
        grid-area: span 1 / span 1;
        font-size: var(--left-bottom-font);
    }
    .rightTop {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-area: span 1 / span 1;
        font-size: var(--right-top-font);
        &:after {
            content: '\2103';
        }
    }
    .rightBottom {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        grid-area: span 1 / span 1;
        font-size: var(--right-bottom-font);
    }
    .navBar {
        grid-column: span 3;
        display: flex;
        flex-direction: row;
        align-items: space-around;
        justify-content: center;
        .navItem {
            padding: 2vw;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .searchBar {
        grid-column: span 3;
        display: flex;
        flex-direction: row;
        align-items: space-around;
        justify-content: center;
        .search {
            padding: 2vw;
            cursor: pointer;
        }
    }
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

.navItem {
    margin: 0 2px;
    a {
        text-decoration: none;
        transition: all 1s;
        color: rgb(123, 123, 159);
        font-size: minmax(12px, 2vw);
    }
    transition: all 1s;
    padding: 1em;
    &:hover {
        padding: 1em;
        color: #fff;
        background-color: rgba(50, 8, 50, 0.5);
        a {
            color: #fff;
        }
    }
}

input,
button {
    font-size: 2em;
    padding: .5em 2em;
    border: 1px;
}

button {
    cursor: pointer;
    background-color: rgba(0,0,0,.1);
    &:hover {
        background-color: rgba(0,0,0,.5);
    }
}

svg {
width: 100%;
height: 100%;
}

#Clouds-cloudy,
#Clouds-rainy,
#Clouds-snowy,
#Snow,
#Sun-Cloudy,
#Sun-snowy,
#Sun-rainy,
#Sun-Bright,
#Lightning,
#Clouds-thunder,
#Wind-cloudy,
#Clouds-sunny,
#rain {
    display: none,
}
.weather {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke: var(--stroke-color);
    .sky,
    .window {
        fill: var(--sky);
    }
    .light-grass {
        fill: #51b825;
    }
    .dark-grass {
        fill: #345125;
    }
    .tree-branches,
    .bush {
        fill: #093215;
    }
    .big-cloud,
    .small-cloud,
    .clouds {
        fill: #fff;
    }
    .tree-trunk {
        fill: #622f03;
    }
    .roof {
        fill: #871b00;
    }
    .house {
        fill: #f2c476;
    }
    .door {
        fill: #2f75de;
    }
    .sun-inner {
        fill: #ffaa00;
    }
    .sun-outer {
        fill: #f2de7a;
    }
    &.clear {
        #Sun-Bright {
            display: block;
            box-shadow: 1px 1px 1px white;
        }
        .sky {
            fill: #70a4f2;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st0 {
            fill: #d5640d;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st1,
        .ground {
            fill: #679e4a;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st2,
        .light-ground {
            fill: #69af7e;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st3 {
            fill: #fcfbed;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st4 {
            fill: #f27e5f;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st5 {
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st6 {
            fill: #ffffff;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st7 {
            fill: none;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }
    &.partly-cloudy {
        #Sun-Cloudy,
        #Clouds-cloudy,
        #Wind-cloudy {
            display: block
        }
        .sky,
        .wind {
            fill: #8a9cb8;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st0 {
            fill: #996f4f;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st1 {
            fill: #486f33;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st2 {
            fill: #33553d;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st3,
        .clouds {
            fill: #fcfbed;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st4,
        .sun {
            fill: #f27e5f;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st5 {
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st6 {
            fill: #ffffff;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st7 {
            fill: none;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }
    &.cloud,
    &.broken {
        #Sun-Bright,
        #Clouds-sunny {
            display: block;
        }
        .small-cloud,
        .clouds,
        .big-cloud {
            fill: #fff;
        }
    }
    &.snow {
        #Snow,
        #Sun-snowy,
        #Clouds-snowy {
            display: block;
        }
        .sky {
            fill: rgb(136, 175, 206);
        }
        .sun {
            fill: rgba(255, 166, 31, 0.76);
        }
        .light-grass,
        .tree-trunk {
        fill: #a0aca6;
        }
        .dark-grass,
        .tree-branches,
        .bush {
        fill: #b7dbe6;
        }
        .snow,
        .small-cloud {
        fill: #fff;
        }
        .roof {
            fill: rgba(198, 121, 121, 0.694);
        }
    }
    &.rain {
        #Sun-rainy,
        #rain,
        #Clouds-rainy,
        {
            display: block
        }
        .sky {
            fill: #5a87da; 
        }
        .sun
        {
            fill: #e18625;
        }
        .rain {
            stroke: #094d89;
            stroke-dasharray: 10,5;
        }
        .big-cloud {
            fill: #ffffffb1;
        }
        .light-grass {
            fill: rgb(27, 99, 27);
        }
    }
    &.thunderstorm {
        #Sun-rainy,
        #rain,
        #Clouds-rainy,
        #Clouds-thunder,
        #Lightning {
            display: block
        }
        .sky {
            fill: #0a3689; 
        }
        .sun,
        .lightning {
            fill: #e18625;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .rain {
            stroke-width: 3;
            stroke-dasharray: 10,5;
        }
        .big-cloud {
            fill: #444;
        }
        .light-grass {
            fill: rgb(94, 94, 10);
        }
    }
    &.fog {
        #Sun-snowy,
        #Clouds-cloudy,
        #Wind-cloudy,
        #Clouds-snowy {
            display: block;
        }
        .sky,
        .wind {
            fill: #7794ab;
        }
        .sun {
            fill: #dcaf5c93;
        }
        .clouds {
        fill: rgba(213, 213, 213, 0.256);
        stroke: #2c3e50;
        }
        .big-cloud {
        fill: rgba(193, 193, 193, 0.229);
        stroke: #2c3e50;
        }
        .small-cloud {
        fill: rgba(111, 97, 97, 0.256);
        stroke: #2c3e50;
        }
        .wind {
        fill: rgba(111, 97, 97, 0.256);
        stroke: #2c3e50;
        }
        .light-grass,
        .dark-grass,
        .tree-branches,
        .house,
        .tree-trunk,
        .roof,
        .bush,
        .door,
        .window, {
            opacity: 0.2
        }

    }
    &.mist {
        #Sun-rainy,
        #rain,
        #Clouds-rainy {
            display: block
        }
        .sky {
            fill: #839ec6;
        }
        .sun {
            fill: #d2c000ae;
        }
        .rain {
            stroke: #0c6bc4;
            stroke-dasharray: 3, 3;
        }
        .big-cloud {
            fill: #ffffffc7;
        }
        .light-grass {
            fill: rgb(33, 104, 33);
        }
        .dark-grass {
            fill: rgb(32, 81, 32);
        }
    }
}