:root {
    --bgcolor: rgba(255, 208, 187, 0.753);
    --fgcolor: rgba(25, 25, 25, 0);
    --left-top-font: 4vw;
    --left-bottom-font: 4vw;
    --right-top-font: 10vw;
    --right-bottom-font: 4vw;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--fgcolor);
}
.grid {
    display: grid;
    position: absolute;
    grid-template: repeat(2, 2fr) 0.3fr 0.7fr / 1fr 2fr 1fr;
    width: 100%;
    height: 100%;
    .tile {
        background-color: var(--bgcolor);
        padding: 1vw;
    }
    .leftTop {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        grid-area: span 1 / span 1;
        font-size: 34px;
        font-size: var(--left-top-font);
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: span 2 / span 1;
        img {
            width: 110%;
            height: 100%;
        }
    }
    .leftBottom {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: left;
        grid-area: span 1 / span 1;
        font-size: var(--left-bottom-font);
    }
    .rightTop {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-area: span 1 / span 1;
        font-size: var(--right-top-font);
        &:after {
            content: '\2103';
        }
    }
    .rightBottom {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        grid-area: span 1 / span 1;
        font-size: var(--right-bottom-font);
    }
    .navBar {
        grid-column: span 3;
        display: flex;
        flex-direction: row;
        align-items: space-around;
        justify-content: center;
        .navItem {
            padding: 2vw;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .searchBar {
        grid-column: span 3;
        display: flex;
        flex-direction: row;
        align-items: space-around;
        justify-content: center;
        .search {
            padding: 2vw;
            cursor: pointer;
        }
    }
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

svg {
width: 100%;
height: 100%;
}

#Clouds-cloudy,
#Clouds-rainy,
#Clouds-snowy,
#Snow,
#Sun-rainy,
#Sun-snowy,
#Lightning,
#Sun-Bright,
#Sun-Cloudy,
#Sun-snow,
#Sun-rainy,
#Wind-cloudy,
#Clouds-sunny, {
    display: none,
}
.weather {
    .sky {
        fill: #9fbeee;
        stroke: #000000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st0 {
        fill: #d19f78;
        stroke: #000000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st1 {
        fill: #8ca57f;
        stroke: #000000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st2 {
        fill: #8aac94;
        stroke: #000000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st3 {
        fill: #fcfbed;
        stroke: #000000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st4 {
        fill: #ecc5bb;
        stroke: #000000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st5 {
        stroke: #000000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st6 {
        fill: #ffffff;
        stroke: #000000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st7 {
        fill: none;
        stroke: #000000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    /* Sunny */
    &.clear {
        #Sun-Bright {
            display: block;
            box-shadow: 1px 1px 1px white;
        }
        .sky {
            fill: #70a4f2;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st0 {
            fill: #d5640d;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st1 {
            fill: #679e4a;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st2 {
            fill: #69af7e;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st3 {
            fill: #fcfbed;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st4 {
            fill: #f27e5f;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st5 {
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st6 {
            fill: #ffffff;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st7 {
            fill: none;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }
    /* Partly Cloudy */
    &.partly-cloudy {
        #Sun-Cloudy,
        #Clouds-cloudy,
        #Wind-cloudy {
            display: block
        }
        .sky,
        .wind {
            fill: #8a9cb8;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st0 {
            fill: #996f4f;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st1 {
            fill: #486f33;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st2 {
            fill: #33553d;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st3,
        .clouds {
            fill: #fcfbed;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st4,
        .sun {
            fill: #f27e5f;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st5 {
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st6 {
            fill: #ffffff;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st7 {
            fill: none;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }
    /* Sunny with Few Clouds */
    &.cloud {
        #Sun-Bright,
        #Clouds-sunny {
            display: block
        }
        .sky {
            fill: #70a4f2;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st0 {
            fill: #d5640d;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st1 {
            fill: #679e4a;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st2 {
            fill: #69af7e;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st3 {
            fill: #fcfbed;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st4 {
            fill: #f27e5f;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st5 {
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st6 {
            fill: #ffffff;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st7 {
            fill: none;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }
    /* Snowy */
    &.snow {
        #Snow,
        #Sun-snowy,
        #Clouds-snowy {
            display: block;
        }
        .sky {
            fill: rgb(136, 175, 206);
            stroke: #000;
        }
        .st1,
        .st2,
        .st3,
        .st4,
        .st6 {
        fill: #a0aca6;
        stroke: #000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        }
        .st2,
        .st3,
        .st4,
        .st6 {
        fill: #b7dbe6;
        }
        .snow {
        fill: #fff;
        }
        .st3,
        .st4,
        .st6 {
        fill: #679e4a;
        }
        .st4,
        .st6 {
        fill: #686510;
        }
    }
    /* Clouds and Rain */
    &.rain {
        #Sun-rainy,
        #Clouds-rainy,
        #Lightning {
            display: block
        }
        .sky {
            fill: rgb(67, 105, 177);
            stroke: black;
        }
        .st0,
        .sun,
        .lightning {
            fill: #e18625;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .rain {
            fill: #000;
            stroke: #000;
            stroke-width: 2;
            stroke-dasharray: 10,5;
        }
        .st1 {
            fill: #53570a;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st2 {
            fill: #70510d;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st3 {
            fill: #fcfbed;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st4 {
            fill: #927b75;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st5 {
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st6 {
            fill: #ffffff;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st7 {
            fill: none;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }
    &.fog {
        #Sun-snowy,
        #Clouds-cloudy,
        #Wind-cloudy,
        #Clouds-snowy {
            display: block;
        }
        .sky,
        .wind {
            fill: rgb(140, 154, 165);
            stroke: #000;
        }
        .st1,
        .st3,
        .st4,
        .st6 {
        fill: #707b75;
        stroke: #000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        }
        .clouds {
        fill: #ccc;
        stroke: #2c3e50;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        }
        .st2,
        .st3,
        .st4,
        .st6 {
        fill: #a7c5ce;
        }
        .snow {
        fill: #fff;
        }
        .st3,
        .st4,
        .st6 {
        fill: #679e4a;
        }
        .st4,
        .st6 {
        fill: #686510;
        }
    }

    /* mist */
    &.mist {
        #Sun-rainy,
        #Clouds-rainy {
            display: block
        }
        .sky {
            fill: #70a4f2;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .sun {
            fill: rgba(255, 132, 0, 0.665);
            stroke: #001;
        }
        .rain {
            stroke: rgb(12, 107, 196);
            stroke-dasharray: 3, 3;
        }
        .st0 {
            fill: #d0c5bc;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st1 {
            fill: #679e4a;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st2 {
            fill: #69af7e;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st3 {
            fill: #fcfbed;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st4 {
            fill: #ccf5fa;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st5 {
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st6 {
            fill: #ffffff;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
        .st7 {
            fill: none;
            stroke: #000000;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }
}